
<script type="text/javascript">
    
</script>

<!-- <script src="https://deno.land/x/zipjs/index.js" type="module" crossorigin="anonymous"></script> -->
<script src="../lib/jszip.js" type="module" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<!-- <link rel="stylesheet" href="style.css"> -->


<!-- <img src="background.jpg"> -->

<!-- <div style="background-image: url('background.jpg');"> -->

<div class="login-div" id="login-div">

    <div>
        <h1>Login</h1>
        <h3>Please upload your zip-file and passcode below to proceed</h3>
        <br><br>
        <div class="">
            <div style="width: 400px;">
                <input class="form-control" type="file" id="file-selector">
            </div>

            <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
            <form id="login_form" action="" target="dummyframe">
                <div class="form-group" style="width: 400px">
                    <div class="input-group-prepend">
                        <div class="input-group-text" style="min-width: 107px; max-width: 107px;">Passcode</div>
                        <input type="password" class="form-control" id="passcode" placeholder="passcode">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <script>
                document.getElementById("login_form").addEventListener("submit", function () {
                    event.preventDefault();
                    login();
                });
            </script>

            <!-- <div class="input-group mb-2" style="width: 400px">
                <div class="input-group-prepend">
                    <div class="input-group-text" style="width: 108px">Passcode</div>
                </div>
                <input type="text" class="form-control" id="passcode" placeholder="passcode">
            </div>

            <button class="btn btn-primary" style="width: 120px;" onclick="login()"> Login </button> -->

        </div>
    </div>

</div>

<script src="../js/index.js"></script>
<script src="../js/directory.js"></script>
<link rel="stylesheet" href="../style/index.css">
<div class="top-menu-bar">
    <div style="flex-basis: 200px;">
        <h2 class="display-4" style="text-align: center; font-size: 30px;">Web editor</h2>
    </div>
    <div style="flex-basis: 120px;">
        <button class="btn btn-light" style="width:120px" onclick="download_directory()"> Download </button>
    </div>
    <div style="flex-basis: 120px;">
        <button class="btn btn-light" style="width:120px" onclick="refresh_page()"> Exit </button>
    </div>
    <!-- <div style="flex-basis: 300px;">
        <input class="form-control" type="file" id="file-selector">
    </div> -->
</div>

<div id="setting-modal-div">
</div>

<div class="editor-select" style="padding: 10px;">
    <div style="width: 200px;">
        <h2 class="display-4" id="curr_editor_div" style="text-align: center; font-size: 30px;">Directory</h2>
    </div>
    <div>
        <button class="btn btn-secondary" style="width: 120px;" onclick="change_editor(ALL_EDITORS.DIRECTORY)"> Directory </button>
    </div>
    <div>
        <button class="btn btn-secondary" style="width: 120px;" onclick="change_editor(ALL_EDITORS.LEASING)"> Building Info </button>
    </div>
    <div>
        <button class="btn btn-secondary" style="width: 120px;" onclick="change_editor(ALL_EDITORS.AMENITIES)"> Amenities </button>
    </div>
    <div>
        <button class="btn btn-secondary admin-div" id="setting_btn" style="width: 150px;" onclick="" data-toggle="modal" data-target="#setting"> Admin setting </button>
    </div>
</div>

<div id="editor_div">

    <div class="row-column-menu">
        <button class="btn btn-primary" style="flex-grow: 0.7; margin-right: 30px;" onclick="new_row_at(0)"> Add new row </button>
        <button class="btn btn-primary" style="flex-grow: 0.7" onclick="add_col()"> Add new column </button>
        <button class="btn btn-danger" style="flex-grow: 0.7;" onclick="delete_col()"> Delete last column </button>
        <!-- <button class="btn btn-secondary" style="flex-grow: 0.7; margin-left: 300px;" onclick="testFunction()"> Test </button> -->
        <!-- <button class="btn btn-secondary" style="flex-grow: 0.7;" onclick="set_test_data()"> Test data </button> -->
    </div>

    <div id="render_div">
        <div style="padding: 1em; margin: auto; align-self: center;">

        <div style="">
            <div class="input-row">
                <div class="d-grid gap-2" style="min-width: 160px; max-width: 160px;">
                </div>

                <div class="col">
                    <div class="col-function-row col" style="margin-bottom: 5px;">
                        <button class="btn btn-primary" type="button" style="flex-grow: 0.2;">&#9665;</button>
                        <div style="flex-basis: 15px;"></div>
                        <button class="btn btn-warning" type="button" style="">Sort</button>
                        <div style="flex-basis: 15px;"></div>
                        <button class="btn btn-primary" type="button" style="flex-grow: 0.2">&#9655;</button>
                    </div>
                    
                    <input class="form-control col" type="text" placeholder="column name">
                </div>
                <div class="col">
                    <div class="col-function-row col" style="margin-bottom: 5px;">
                        <button class="btn btn-primary" type="button" style="flex-grow: 0.2;">&#9665;</button>
                        <div style="flex-basis: 15px;"></div>
                        <button class="btn btn-warning" type="button" style="">Sort</button>
                        <div style="flex-basis: 15px;"></div>
                        <button class="btn btn-primary" type="button" style="flex-grow: 0.2">&#9655;</button>
                    </div>
                    
                    <input class="form-control col" type="text" placeholder="column name">
                </div>
                
            </div>
        </div>

        <div style="">
            <div class="input-row">
                <div class="row-function-col" style="min-width: 160px; max-width: 160px;">
                    <button class="btn btn-primary" style="flex-grow: 0.7" onclick=""> Insert </button>
                    <button class="btn btn-danger" style="flex-grow: 0.7" onclick=""> Delete </button>
                </div>

                <div class="col">
                    <input class="form-control col" type="text" placeholder="test0">
                </div>
                <div class="col">
                    <input class="form-control col" type="text" placeholder="test1">
                </div>
                
            </div>
        </div>
        
    </div>
</div>

<script>
    render_editor();
</script>

<script>
    var curr_zip = null;

    function refresh_page() {
        window.location.reload();
    }

    async function upload_image_file(f) {
        var temp_zip = new JSZip();
        for (k in SLIDESHOW_FIELD_NAME) {
            const menu_name = SLIDESHOW_FIELD_NAME[k];
            if (directory_data[menu_name] != undefined) {
                
                i = 0;
                while (i < directory_data[menu_name].length) {
                    j = 0;
                    while (j < directory_data[menu_name][i].files.length) {
                        data_i = directory_data[menu_name][i].files[j].data;
                        data_name = directory_data[menu_name][i].files[j].name;
                        
                        if (directory_data[menu_name][i].files[j].type == SLIDESHOW_TYPE.IMAGE) {
                            if (data_i != null) {
                                if (directory_data[menu_name][i].files[j].is_new) {
                                    temp_zip.file(data_i.name, data_i);
                                    directory_data[menu_name][i].files[j].is_new = false;
                                } else {
                                    temp_zip.files[data_name] = curr_zip.files[data_name];
                                }
                            }
                        }
                        

                        j++;
                    }//while j
                    i++;
                }//while i
            }
        }

        f(temp_zip);
    }


    function download_directory() {
        var promise = null;
        // call index.js to add something to this zip

        // export_directory_js(temp_zip);


        template_file_names = ["index.js", "index.css", "background_1.jpg"];

        upload_image_file(function (temp_zip) {
                    console.log(curr_zip)
                    // x_zip = curr_zip;


                    // curr_zip = temp_zip;
            
                    export_directory_data(temp_zip);
            
                    get_template_files(template_file_names, temp_zip, function (data) {
                        get_template_file("index.html", function (data) {
                            temp_zip.file("index.html", export_directory_data_string() + data);
            
                            if (temp_zip != null) {
                                console.log(temp_zip)
                                promise = temp_zip.generateAsync({type : "blob"}).then(function (blob) {
                                    saveFile(blob, directory_filename);
                                }, function (err) {
                                    console.log(err);
                                    alert("error in download");
                                });
                            } else {
                                //temp_zip not initialized
                                alert("error: directory not initialized")
                            }
                        });
                    });

        });

        
        // get_template_HTML(function (data) {
        //     curr_zip.file("index.html", data);
        //     get_template_CSS(function (data) {
        //         curr_zip.file("index.css", data);

        //         if (curr_zip != null) {
        //             promise = curr_zip.generateAsync({type : "blob"}).then(function (blob) {
        //                 saveFile(blob, "directory.zip");
        //             }, function (err) {
        //                 alert("error in download");
        //             });
        //         } else {
        //             //curr_zip not initialized
        //             alert("error: directory not initialized")
        //         }
        //     });
        // });
        
    }

    function saveFile(blob, filename) {
        if (window.navigator.msSaveOrOpenBlob) {
            window.navigator.msSaveOrOpenBlob(blob, filename);
        } else {
            const a = document.createElement('a');
            document.body.appendChild(a);
            const url = window.URL.createObjectURL(blob);
            a.href = url;
            a.download = filename;
            a.click();
            setTimeout(() => {
                window.URL.revokeObjectURL(url);
                document.body.removeChild(a);
            }, 0)
        }
        if(!alert('This page will be refreshed. To continue editing, please re-upload the zip file that you just downloaded.')){window.location.reload();}
    }

    function uploadFile(file) {
        curr_zip = new JSZip();
        curr_zip.loadAsync(file)
        .then(function(curr_zip) {
            // you now have every files contained in the loaded zip
            // zip.file("hello.txt").async("string"); // a promise of "Hello World\n"

            // curr_zip.file("test.txt", "test");
            import_directory_data(curr_zip);
            directory_filename = file.name;
        });
    }

    function file_upload_event(fileList) {
        curr_zip = null;
        if (fileList.length > 0 && fileList[0].type == "application/x-zip-compressed") {
            uploadFile(fileList[0]);
            console.log('good');
        } else {
            error_alert(ERROR_CODE.F1);
        }
    }

    const fileSelector = document.getElementById('file-selector');
    fileSelector.addEventListener('change', (event) => {
        file_upload_event(event.target.files);
    });
</script>




